# command to stop git tracking files
# command: git rm --cached <file>

# command to stop git tracking directories
# command: git rm -r --cached <directory>

# Compiled Object files
*.o
*.obj

*.md

.venv/

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.vscode
